// =======================
// Buttons
// =======================

.login_btn,
.general_btn,
.destacar_btn {
    color: #fff;
    font-size: 1rem;
    padding: 5px 20px;
    background: var(--color-btn-general);
    border-radius: 10px;
}

.login_btn:hover,
.general_btn:hover,
.destacar_btn:hover {
    background: var(--color-btn-general-hover);
    color: #fff;
}

.general_btn:active {
    background: var(--color-footer);
    color: #fff;
}

.general_btn:disabled {
    opacity: 0.7;
}

.general_btn:clicked {
    color: var(--color-text-color);
}

.destacar_btn {
    font-size: 0.7rem;
    padding: 4px 15px;
}

.file_btn {
    color: #000000;
    font-size: 1rem;
    padding: 5px 20px;
    background: #BDBEBA;
    border-radius: 10px;
}

.file_btn:hover {
    background: #a8a8a8;
    color: #fff;
}


// Outline Buttons
.btn-outline-primary-theme-color {
    color: var(--color-btn-general);
    border-color: var(--color-btn-general);
    background-color: transparent;
    text-decoration: none;
}

.btn-outline-primary-theme-color:hover {
    color: var(--color-btn-general-hover);
    border-color: var(--color-btn-general-hover);
    background-color: transparent;
}

.btn-outline-secondary-theme-color {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    background-color: transparent;
    text-decoration: none;
}

.btn-outline-secondary-theme-color:hover {
    color: var(--color-secondary-hover);
    border-color: var(--color-nav-link-hover);
    background-color: transparent;
}

.btn-outline-morado {
    color: #7d2181;
    border-color: #7d2181;
    background-color: transparent;
    text-decoration: none;
}

.btn-outline-morado:hover {
    background-color: #7d2181;
    color: white;
}