* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #CFAEF9;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    a {
        color: #fff;
    }

    p {
        padding: 5px 5px;
        text-align: center;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow: hidden;
        resize: none;
    }
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .layout-header {
        background: var(--color-header);
        padding: 0.5rem 0 0.5rem 0;
        text-align: center;
    }

    .layout-footer {
        background: var(--color-footer);
        padding: 0.5rem 0 0.5rem 0;
        text-align: center;
    }

    .layout-nav {
        background: var(--color-nav);
        padding: 0.7rem;
        text-align: center;
    }

    /* Selección de hover corregida */
    .layout-nav li .nav-link:hover {
        color: #fff;
        background-color: var(--color-nav-link-hover);
        font-weight: 500;
    }

    .layout-main {
        display: flex;
        flex: 1;
        flex-direction: column;

        .layout-menu-izquierdo,
        .layout-menu-derecho {
            display: none;
        }

        .layout-content {
            flex: 1;
            padding: 1rem;
            margin: 0.5rem;
            justify-content: center;
            background-color: var(--color-primary);
        }
    }

    @media (min-width: 768px) {
        .layout-main {
            flex-direction: row;

            .layout-menu-izquierdo,
            .layout-menu-derecho {
                display: block;
                width: 200px;
                background: var(--color-side-menus);
                // background: #EAD4FF;
                padding: 1rem;
            }

            .layout-content {
                flex: 1;
                padding: 1rem;
            }
        }
    }
}

.login_btn {
    color: #fff;
    font-size: 1rem;
    padding: 5px 20px;
    background: var(--color-btn-general);
    border-radius: 10px;
}

.login_btn:hover {
    background: var(--color-btn-general-hover);
    color: #fff;
    font-size: 1.1rem;
}

.general_btn {
    color: #fff;
    font-size: 1rem;
    padding: 5px 20px;
    background: var(--color-btn-general);
    // background: #A966FF;
    border-radius: 10px;
}

.general_btn:hover {
    // background: #8a36f8;
    background: var(--color-btn-general-hover);
    color: #fff;
}

.destacar_btn {
    color: #fff;
    font-size: 0.7rem;
    padding: 4px 15px;
    background: var(--color-btn-general);
    border-radius: 10px;
}

.destacar_btn:hover {
    background: var(--color-btn-general-hover);
    color: #fff;
}


.fade-in {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.table-responsive,
.galeria {
    will-change: transform;
    transform: translateZ(0);
}

.texto-scrollable {
    max-height: 52vh;
    overflow-y: auto;
    padding-right: 0.5rem;
}

.usuarios-contenedor {
    min-height: 55vh;
    max-height: 55vh;
    overflow-y: auto;
    padding-right: 0.5rem;
}

.cantos-contenedor {
    min-height: 77vh;
    max-height: 77vh;
    overflow-y: auto;
    padding-right: 0.5rem;
}

.canto-contenedor {
    min-height: 52vh;
    max-height: 52vh;
    overflow-y: auto;
    padding-right: 0.5rem;
}

.galeria-img {
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .galeria-img {
        width: 100%;
        max-width: 350px;
        aspect-ratio: 4 / 3;
        object-fit: cover;
        margin: 0 auto;
    }
}

.galeria-img:hover {
    transform: scale(1.05);
}

.imagen-inicio-container {
    width: 650px;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    background-color: #f8f9fa;
}

.imagen-fija-carousel,
.imagen-fija-inicio,
.imagen-fija-left-menu,
.imagen-fija-right-menu {
    max-width: 100%;
    max-height: 650px;
    object-fit: contain;
    border-radius: 8px;
}

.imagen-fija {
    width: 100%;
    max-width: 650px;
    height: 350px;
    object-fit: cover;
    /* otras opciones: contain, fill */
    border-radius: 10px;
}

.imagen-left-container,
.imagen-right-container {
    width: 150px;
    height: 220px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    background-color: #f8f9fa;
}


.images-carousel {
    width: 650px;
    height: 515px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    background-color: #f8f9fa;
}

.imagen-nosotros-container {
    width: 650px;
    height: 380px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    background-color: #f8f9fa;
}